* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 6vh;
    text-decoration: underline;
}

#centerImages{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}
.startImg {
    width: 25vw;
    margin: 3vw;
    border: 0.3vh solid white;
    border-radius: 15vh;
    transition: all 0.5s;
}
.startImg:hover{
    transform: rotate(1.5deg);
    box-shadow: 0.5vh 0.5vh 1vh rgb(83, 83, 83);
    
}
h2{
    text-align: center;
    font-size: 3vh;
    text-decoration: underline;
}